# .NET Build Folders
bin/
obj/

# Editor Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Database
*.db
*.db-shm
*.db-wal
*.sqlite

# Logs
*.log

# User specific
*.user
*.userosscache
*.suo
